<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja-JP" lang="ja-JP">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="tesso.css"/>
        <title>Rooms | tesso</title>
        <script type="text/javascript">
            function delconfirm(fid){
                if (confirm("Delete this file?")) {
                    location.href="delete.rb?" + fid;
                }
            }
        </script>
    </head>
    <body>
        <div id="container">
            <div id="content_container">
                <div id="content">
                    <div class="page_header">
                        <span style="float: right;"><h1><%= user["name"] %></h1></span>
                        <h1>Rooms</h1>
                    </div>
                    
                    <table cellspacing="0">
                        <tr>
                            <td>Room name</td>
                            <td>Room id</td>
                            <td>Room password</td>
                            <td>Note</td>
                            <td>Operation</td>
                        </tr>
                        
                        <% if rooms != nil %>
                        <% rooms.each_with_index do |r, i| %>
                        <tr class="parity<%= (i%2).to_s %>">
                            <td class="room_name"><%= r['name'] %></td>
                            <td class="room_id"><%= r['id'] %></td>
                            <td class="room_pass"><%= r['pass'] %></td>
                            <td class="room_note"><%= r['note'] %></td>
                            <td class="operation"><a href="./<%= r['id'] %>">view</a> | <a href="./<%= r['id'] %>/edit">edit</a> | <a href="./<%= r['id']%>/delete">delete</a></td>
                        </tr>
                        <% end %>
                        <% end %>
                    </table>
                    
                    <p><a href="./room/new">new</a> <a href="./logout">logout</a></p>
                </div>
            </div>
        </div>
        <div id="footer">
            <strong><%= constants[:footer_note] %></strong>
            <a href="<%= constants[:footer_url] %>">Home</a>
            <a href="help.html">Help</a>
        </div>
    </body>
</html>
