<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="tesso.css"/>
	<title>Administration | tesso</title>
</head>
<body>
	<div id="container">
		<div id="content_container">
			<div id="content">
				<h1>Users | <a href="log.rb">Logs</a></h1>
				<table cellspacing="0">
					<th>
						<td>User Name</td>
						<td>User ID</td>
						<td>Password</td>
						<td>Note</td>
						<td>Operation</td>
					</th>
				<% users.each_with_index do |u, i| %>
					<tr class="parity<%= (i%2).to_s %>">
						<td></td>
						<td><span id="user_name"><%= u['name'] %></span></td>
						<td><span id="user_id"><%= u['id'] %></span></td>
						<td><span id="password"><%= u['pass'] %></span></td>
						<td><span id="note"><%= u['note'] %></span></td>
						<td><a href="./user/<%= u['id'] %>/edit">edit</a> | <a href="./user/<%= u['id'] %>/delete">delete</a></td>
					</tr>
				<% end %>
				</table>
				<p><a href="./user/new">new</a> <a href="./logout">logout</a></p>
			</div>
		</div>

		<div id="footer">
			<strong><%= constants[:footer_note] %></strong>
			<a href="<%= constants[:footer_url] %>">Home</a>
			<a href="/help.html">Help</a>
		</div>
	</div>
</body>
</html>